{{#*inline "htmTitleSequenceRunPage"}}		<!-- inline "htmTitleSequenceRunPage" -->
		<title>{{#if searchListSequenceRun_}}{{#eq sequenceRunCount int1}}{{#eq params.query.q "*:*"}}sequence run{{else}}sequence run{{/eq}}{{else}}no sequence run found{{/eq}}{{else}}sequence runs{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaSequenceRunPage"}}{{> "htmMetaBaseModelPage"}}{{/inline}}
{{#*inline "htmStyleSequenceRunPage"}}{{> "htmStyleBaseModelPage"}}{{/inline}}
{{#*inline "htmScriptsSequenceRunPage"}}{{> "htmScriptsBaseModelPage"}}		<!-- inline "htmScriptsSequenceRunPage" -->
		<script src="{{staticBaseUrl}}/js/enUS/SequenceRunPage.js"></script>
{{/inline}}
{{#*inline "htmScriptSequenceRunPage"}}		<!-- inline "htmScriptSequenceRunPage" -->
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = ", Optional.ofNullable(siteRequest_.getRequestPk()).map(l -> l.toString()).orElse("null"), ";
				if(pk != null) {
				}
				websocketSequenceRun(websocketSequenceRunInner);
			});
{{/inline}}
{{#*inline "htmUrlSequenceRun"}}{{pageUri}}?q={{query.q}}&rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&start={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadSequenceRunPage"}}{{> "htmTitleSequenceRunPage"}}{{> "htmMetaSequenceRunPage"}}{{> "htmStyleSequenceRunPage"}}{{> "htmScriptsSequenceRunPage"}}{{/inline}}
{{#*inline "htmBodyCount0SequenceRunPage"}}		<!-- #*inline "htmBodyCount0SequenceRunPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-pale-green w3-hover-pale-green">
				{{#if contextIconCssClasses}}
					<i class="contextIconCssClasses site-menu-icon "></i>
				{{/if}}
				<span class="">sequence runs</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-pale-green">
				{{#if contextIconCssClasses}}
					<i class="contextIconCssClasses + " site-menu-icon "></i>
				{{/if}}
				<span class="">no sequence run found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllSequenceRunPage"}}		<!-- #*inline "htmBodyCount1AllSequenceRunPage" -->
		{{#if pageH1}}
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-pale-green w3-hover-pale-green">
			{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses site-menu-icon "></i>
			{{/if}}
				<span class="">{{pageH1}}</span>
			</a>
		</h1>
		{{/if}}
		{{#if pageH2}}
		<h2>
			<span class"w3-bar-item w3-padding w3-center w3-block w3-pale-green">
				<span class="">{{pageH2}}</span>
			</span>
		</h2>
		{{/if}}
		{{#if pageH3}}
		<h3>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-pale-green">
				<span class="">{{pageH3}}</span>
			</span>
		</h3>
		{{/if}}
{{#block "htmForm"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyCount1SequenceRunPage"}}		<!-- #*inline "htmBodyCount1SequenceRunPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-pale-green w3-hover-pale-green">
	{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses + " site-menu-icon "></i>
	{{/if}}
				<span class="">{{pageH1}}</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1SequenceRunPage"}}
{{/inline}}
{{#*inline "htmBodyAllSequenceRunPage"}}		<!-- #*inline "htmBodyAllSequenceRunPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-pale-green w3-hover-pale-green">
	{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses + " site-menu-icon "></i>
	{{/if}}
				<span class="">{{pageH1}}</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1SequenceRunPage"}}
		</div>
{{/inline}}
{{#*inline "htmFormSequenceRunPage"}}	{{#if pk}}
		<!-- #*inline "htmForm" -->
		<form action="" id="SequenceRunForm" style="display: inline-block; width: 100%; " onsubmit="event.preventDefault(); return false; ">
			<input name="pk" class="valuePk" type="hidden" value="{{pk}}"/>
			<input name="focusId" type="hidden"/>
		</form>
{{#block "htmInput_patchSequenceRun"}}{{/block}}
	{{/if}}
{{/inline}}
{{#*inline "htmInputSequenceRunPage_putimportSequenceRun"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-pale-green "
			onclick="$('#putimportSequenceRunModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import sequence runs
		</button>
		<div id="putimportSequenceRunModal" class="w3-modal w3-padding-32">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-pale-green">
						<span class="w3-button w3-display-topright " onclick="$('#putimportSequenceRunModal').hide(); ">×</span>
						<h2 class="w3-padding ">Import sequence runs</h2>
					</header>
					<div class="w3-container " id="putimportSequenceRunFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 400px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-pale-green "
							onclick="putimportSequenceRun($('#putimportSequenceRunFormValues')); "
							>Import sequence runs</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmInputSequenceRunPage_postSequenceRun"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-pale-green "
			onclick="$('#postSequenceRunModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create a sequence run
		</button>
		<div id="postSequenceRunModal" class="w3-modal w3-padding-32">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-pale-green">
						<span class="w3-button w3-display-topright " onclick="$('#postSequenceRunModal').hide(); ">×</span>
						<h2 class="w3-padding ">Create a sequence run</h2>
					</header>
					<div class="w3-container " id="postSequenceRunFormValues">
						<div id="postSequenceRunForm">
							<div class="w3-cell-row ">
{{> "htmPk" classApiMethodMethod="POST"}}
{{> "htmCreated" classApiMethodMethod="POST"}}
{{> "htmModified" classApiMethodMethod="POST"}}
{{> "htmObjectId" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="POST"}}
{{> "htmDeleted" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmPk" classApiMethodMethod="Page"}}
{{> "htmCreated" classApiMethodMethod="Page"}}
{{> "htmModified" classApiMethodMethod="Page"}}
{{> "htmObjectId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Page"}}
{{> "htmDeleted" classApiMethodMethod="Page"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-pale-green "
							onclick="postSequenceRun($('#postSequenceRunForm')); "
							>Create a sequence run</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmInputSequenceRunPage_patchSequenceRun"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-pale-green "
			onclick="$('#patchSequenceRunModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify sequence runs
		</button>
		<div id="patchSequenceRunModal" class="w3-modal w3-padding-32">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-pale-green">
						<span class="w3-button w3-display-topright " onclick="$('#patchSequenceRunModal').hide(); ">×</span>
						<h2 class="w3-padding ">Modify sequence runs</h2>
					</header>
					<div class="w3-container " id="patchSequenceRunFormValues">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="PATCH"}}
{{> "htmDeleted" classApiMethodMethod="PATCH"}}
							</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-pale-green "
							onclick="patchSequenceRun(null, $('#patchSequenceRunFormValues')); "
							>Modify sequence runs</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmInputSequenceRunPage_searchSequenceRun"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-pale-green "
			onclick="$('#searchSequenceRunModal').show(); "
			>
			
		</button>
		<div id="searchSequenceRunModal" class="w3-modal w3-padding-32">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-pale-green">
						<span class="w3-button w3-display-topright " onclick="$('#searchSequenceRunModal').hide(); ">×</span>
						<h2 class="w3-padding "></h2>
					</header>
					<div class="w3-container " id="searchSequenceRunFormValues">
						<div id="searchSequenceRunForm">
							<div class="w3-cell-row ">
{{> "htmPk" classApiMethodMethod="Search"}}
{{> "htmCreated" classApiMethodMethod="Search"}}
{{> "htmModified" classApiMethodMethod="Search"}}
{{> "htmObjectId" classApiMethodMethod="Search"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Search"}}
{{> "htmDeleted" classApiMethodMethod="Search"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmInheritPk" classApiMethodMethod="Search"}}
{{> "htmUserId" classApiMethodMethod="Search"}}
{{> "htmUserKey" classApiMethodMethod="Search"}}
{{> "htmObjectTitle" classApiMethodMethod="Search"}}
{{> "htmRunId" classApiMethodMethod="Search"}}
{{> "htmRunReleaseDate" classApiMethodMethod="Search"}}
{{> "htmRunLoadDate" classApiMethodMethod="Search"}}
{{> "htmProjectId" classApiMethodMethod="Search"}}
{{> "htmBioSampleId" classApiMethodMethod="Search"}}
{{> "htmBioSampleIsolate" classApiMethodMethod="Search"}}
{{> "htmBioSampleHost" classApiMethodMethod="Search"}}
{{> "htmBioSampleLabHost" classApiMethodMethod="Search"}}
{{> "htmBioSampleIsolationSource" classApiMethodMethod="Search"}}
{{> "htmBioSampleGeographicLocation" classApiMethodMethod="Search"}}
{{> "htmBioSampleLatitudeLongitude" classApiMethodMethod="Search"}}
{{> "htmBioSampleReferenceForBioMaterial" classApiMethodMethod="Search"}}
{{> "htmBioSampleMaterialProcessing" classApiMethodMethod="Search"}}
{{> "htmBioSampleMaterialIdentifiers" classApiMethodMethod="Search"}}
{{> "htmBioSampleDisease" classApiMethodMethod="Search"}}
{{> "htmBioSampleHostTissueSampled" classApiMethodMethod="Search"}}
{{> "htmBioSampleCollectedBy" classApiMethodMethod="Search"}}
{{> "htmTaxonomyId" classApiMethodMethod="Search"}}
{{> "htmTaxonomyName" classApiMethodMethod="Search"}}
{{> "htmTaxonomyUniqueName" classApiMethodMethod="Search"}}
{{> "htmTaxonomyNameClass" classApiMethodMethod="Search"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-pale-green "
							onclick="searchSequenceRun(); "
							></button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySequenceRunPage"}}
	{{#eq sequenceRunCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq sequenceRunCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForms"}}{{/block}}
{{/inline}}
{{#*inline "table1SequenceRunPage"}}
		<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
			{{> table2SequenceRunPage}}
		</table>
{{/inline}}
{{#*inline "table2SequenceRunPage"}}
		{{> "thead1SequenceRunPage"}}
		{{> "tbody1SequenceRunPage"}}
		{{> "tfoot1SequenceRunPage"}}
	{{/inline}}
{{#*inline "thead1SequenceRunPage"}}
		<thead class="w3-pale-green w3-hover-pale-green">
			{{> thead2SequenceRunPage}}
		</thead>
	{{/inline}}
{{#*inline "thead2SequenceRunPage"}}
			<tr>
				<th>created</th>
				<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1SequenceRunPage"}}
		<tbody>
			{{> tbody2SequenceRunPage}}
		</tbody>
{{/inline}}
{{#*inline "tbody2SequenceRunPage"}}
		{{#each listSequenceRun}}
			<tr>
					<td>
						<a href="{{pageUrlPk}}">
							<span>{{created}}</span>
						</a>
					</td>
					<td>
						<a href="{{pageUrlPk}}">
							<i class="far fa-newspaper "></i>
							<span>{{objectTitle}}</span>
						</a>
					</td>
			</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1SequenceRunPage"}}
		<tfoot class="w3-pale-green w3-hover-pale-green">
			{{> tfoot2SequenceRunPage}}
		</tfoot>
{{/inline}}
{{#*inline "tfoot2SequenceRunPage"}}
		<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
		</tr>
	{{/inline}}
{{#*inline "htmFormsSequenceRunPage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq sequenceRunCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-pale-green "
			id="refreshThisSequenceRunGenPage"
			onclick="patchSequenceRunVals( [ {name: 'fq', value: 'pk:{{pk}}' } ], {}, function() { addGlow($('#refreshThisSequenceRunGenPage')); }, function() { addError($('#refreshThisSequenceRunGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this sequence run
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
{{#block "htmForm_putimportSequenceRun"}}{{/block}}
{{#block "htmForm_postSequenceRun"}}{{/block}}
{{#block "htmForm_patchSequenceRun"}}{{/block}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedSequenceRunPage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshAllSequenceRunGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-pale-green "
							onclick="patchSequenceRunVals([], {}, function() { addGlow($('#refreshAllSequenceRunGenPage{{id}}')); }, function() { addError($('#refreshAllSequenceRunGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the sequence runs
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search sequence runs: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestSequenceRun w3-input w3-border w3-bar-item "
					name="suggestSequenceRun"
					id="suggestSequenceRun{{id}}"
					autocomplete="off"
					oninput="suggestSequenceRunObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'pk,pageUrlPk,objectTitle' } ], $('#suggestListSequenceRun{{id}}'), {{pk}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/api/run?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&start={{start2}}&rows={{rows1}}"
				{{#if listSequenceRun}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
					onclick="window.location.href = '/api/run?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&start=&quot;, start2, &quot;&rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListSequenceRun{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/api/run" class="">
					<i class="far fa-newspaper"></i>
					see all the sequence runs
				</a>
			</div>
{{/inline}}
{{> BaseModelPage}}

{{#*inline "htmRunId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunRunId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_runId">Run ID</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputRunId"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_runId')); $('#{{classApiMethodMethod}}_runId').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setRunId', null, function() { addGlow($('#{{classApiMethodMethod}}_runId')); }, function() { addError($('#{{classApiMethodMethod}}_runId')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputRunId"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="Run ID"
															id="{{classApiMethodMethod}}_runId"
	{{#eq "Page" classApiMethodMethod}}
																class="setRunId classSequenceRun inputSequenceRun{{pk}}RunId w3-input w3-border "
																name="setRunId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setRunId classSequenceRun inputSequenceRun{{pk}}RunId w3-input w3-border "
																name="setRunId"
		{{else}}
																class="valueRunId w3-input w3-border classSequenceRun inputSequenceRun{{pk}}RunId w3-input w3-border "
																name="runId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setRunId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_runId')); }, function() { addError($('#{{classApiMethodMethod}}_runId')); }); "
	{{/eq}}
															value="{{RunId}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}RunId ">{{htmRunId}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmRunReleaseDate"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunRunReleaseDate">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_runReleaseDate">stop date/time</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputRunReleaseDate"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_runReleaseDate')); $('#{{classApiMethodMethod}}_runReleaseDate').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setRunReleaseDate', null, function() { addGlow($('#{{classApiMethodMethod}}_runReleaseDate')); }, function() { addError($('#{{classApiMethodMethod}}_runReleaseDate')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputRunReleaseDate"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
																type="text"
																class="w3-input w3-border datepicker setRunReleaseDate classSequenceRun inputSequenceRun{{pk}}RunReleaseDate w3-input w3-border "
																placeholder="MM/DD/YYYY HH:MM AM"
																data-timeformat="MM/dd/yyyy"
																id="{{classApiMethodMethod}}_runReleaseDate"
																value="{{runReleaseDate}}"
														{{#eq 'Page' classApiMethodMethod}}
															onclick="removeGlow($(this)); ";
															onchange="var t = moment(this.value, 'MM/DD/YYYY'); if(t) { var s = t.format('YYYY-MM-DD'); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:{{pk}}' }], 'setRunReleaseDate', s, function() { addGlow($('#{{classApiMethodMethod}}_runReleaseDate')); }, function() { addError($('#{{classApiMethodMethod}}_runReleaseDate')); }); } "
														{{/eq}}
														/>
													{{else}}
															<span class="varSequenceRun{{pk}}RunReleaseDate ">{{htmRunReleaseDate}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmRunLoadDate"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunRunLoadDate">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_runLoadDate">stop date/time</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputRunLoadDate"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_runLoadDate')); $('#{{classApiMethodMethod}}_runLoadDate').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setRunLoadDate', null, function() { addGlow($('#{{classApiMethodMethod}}_runLoadDate')); }, function() { addError($('#{{classApiMethodMethod}}_runLoadDate')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputRunLoadDate"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
																type="text"
																class="w3-input w3-border datepicker setRunLoadDate classSequenceRun inputSequenceRun{{pk}}RunLoadDate w3-input w3-border "
																placeholder="MM/DD/YYYY HH:MM AM"
																data-timeformat="MM/dd/yyyy"
																id="{{classApiMethodMethod}}_runLoadDate"
																value="{{runLoadDate}}"
														{{#eq 'Page' classApiMethodMethod}}
															onclick="removeGlow($(this)); ";
															onchange="var t = moment(this.value, 'MM/DD/YYYY'); if(t) { var s = t.format('YYYY-MM-DD'); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:{{pk}}' }], 'setRunLoadDate', s, function() { addGlow($('#{{classApiMethodMethod}}_runLoadDate')); }, function() { addError($('#{{classApiMethodMethod}}_runLoadDate')); }); } "
														{{/eq}}
														/>
													{{else}}
															<span class="varSequenceRun{{pk}}RunLoadDate ">{{htmRunLoadDate}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmProjectId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunProjectId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_projectId">Project ID</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputProjectId"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_projectId')); $('#{{classApiMethodMethod}}_projectId').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setProjectId', null, function() { addGlow($('#{{classApiMethodMethod}}_projectId')); }, function() { addError($('#{{classApiMethodMethod}}_projectId')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputProjectId"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="Project ID"
															id="{{classApiMethodMethod}}_projectId"
	{{#eq "Page" classApiMethodMethod}}
																class="setProjectId classSequenceRun inputSequenceRun{{pk}}ProjectId w3-input w3-border "
																name="setProjectId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setProjectId classSequenceRun inputSequenceRun{{pk}}ProjectId w3-input w3-border "
																name="setProjectId"
		{{else}}
																class="valueProjectId w3-input w3-border classSequenceRun inputSequenceRun{{pk}}ProjectId w3-input w3-border "
																name="projectId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setProjectId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_projectId')); }, function() { addError($('#{{classApiMethodMethod}}_projectId')); }); "
	{{/eq}}
															value="{{ProjectId}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}ProjectId ">{{htmProjectId}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleId">BioSample ID</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleId"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleId')); $('#{{classApiMethodMethod}}_bioSampleId').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleId', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleId')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleId')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleId"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample ID"
															id="{{classApiMethodMethod}}_bioSampleId"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleId classSequenceRun inputSequenceRun{{pk}}BioSampleId w3-input w3-border "
																name="setBioSampleId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleId classSequenceRun inputSequenceRun{{pk}}BioSampleId w3-input w3-border "
																name="setBioSampleId"
		{{else}}
																class="valueBioSampleId w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleId w3-input w3-border "
																name="bioSampleId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleId')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleId')); }); "
	{{/eq}}
															value="{{BioSampleId}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleId ">{{htmBioSampleId}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleIsolate"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleIsolate">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleIsolate">BioSample Isolate</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleIsolate"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleIsolate')); $('#{{classApiMethodMethod}}_bioSampleIsolate').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleIsolate', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleIsolate')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleIsolate')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleIsolate"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Isolate"
															id="{{classApiMethodMethod}}_bioSampleIsolate"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleIsolate classSequenceRun inputSequenceRun{{pk}}BioSampleIsolate w3-input w3-border "
																name="setBioSampleIsolate"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleIsolate classSequenceRun inputSequenceRun{{pk}}BioSampleIsolate w3-input w3-border "
																name="setBioSampleIsolate"
		{{else}}
																class="valueBioSampleIsolate w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleIsolate w3-input w3-border "
																name="bioSampleIsolate"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleIsolate', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleIsolate')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleIsolate')); }); "
	{{/eq}}
															value="{{BioSampleIsolate}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleIsolate ">{{htmBioSampleIsolate}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleHost"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleHost">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleHost">BioSample Host</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleHost"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleHost')); $('#{{classApiMethodMethod}}_bioSampleHost').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleHost', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleHost')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleHost')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleHost"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Host"
															id="{{classApiMethodMethod}}_bioSampleHost"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleHost classSequenceRun inputSequenceRun{{pk}}BioSampleHost w3-input w3-border "
																name="setBioSampleHost"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleHost classSequenceRun inputSequenceRun{{pk}}BioSampleHost w3-input w3-border "
																name="setBioSampleHost"
		{{else}}
																class="valueBioSampleHost w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleHost w3-input w3-border "
																name="bioSampleHost"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleHost', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleHost')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleHost')); }); "
	{{/eq}}
															value="{{BioSampleHost}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleHost ">{{htmBioSampleHost}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleLabHost"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleLabHost">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleLabHost">BioSample Lab Host</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleLabHost"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleLabHost')); $('#{{classApiMethodMethod}}_bioSampleLabHost').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleLabHost', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleLabHost')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleLabHost')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleLabHost"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Lab Host"
															id="{{classApiMethodMethod}}_bioSampleLabHost"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleLabHost classSequenceRun inputSequenceRun{{pk}}BioSampleLabHost w3-input w3-border "
																name="setBioSampleLabHost"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleLabHost classSequenceRun inputSequenceRun{{pk}}BioSampleLabHost w3-input w3-border "
																name="setBioSampleLabHost"
		{{else}}
																class="valueBioSampleLabHost w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleLabHost w3-input w3-border "
																name="bioSampleLabHost"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleLabHost', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleLabHost')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleLabHost')); }); "
	{{/eq}}
															value="{{BioSampleLabHost}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleLabHost ">{{htmBioSampleLabHost}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleIsolationSource"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleIsolationSource">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleIsolationSource">BioSample Isolation Source</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleIsolationSource"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleIsolationSource')); $('#{{classApiMethodMethod}}_bioSampleIsolationSource').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleIsolationSource', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleIsolationSource')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleIsolationSource')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleIsolationSource"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Isolation Source"
															id="{{classApiMethodMethod}}_bioSampleIsolationSource"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleIsolationSource classSequenceRun inputSequenceRun{{pk}}BioSampleIsolationSource w3-input w3-border "
																name="setBioSampleIsolationSource"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleIsolationSource classSequenceRun inputSequenceRun{{pk}}BioSampleIsolationSource w3-input w3-border "
																name="setBioSampleIsolationSource"
		{{else}}
																class="valueBioSampleIsolationSource w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleIsolationSource w3-input w3-border "
																name="bioSampleIsolationSource"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleIsolationSource', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleIsolationSource')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleIsolationSource')); }); "
	{{/eq}}
															value="{{BioSampleIsolationSource}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleIsolationSource ">{{htmBioSampleIsolationSource}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleGeographicLocation"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleGeographicLocation">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleGeographicLocation">BioSample Collection Date</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleGeographicLocation"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleGeographicLocation')); $('#{{classApiMethodMethod}}_bioSampleGeographicLocation').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleGeographicLocation', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleGeographicLocation')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleGeographicLocation')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleGeographicLocation"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Collection Date"
															id="{{classApiMethodMethod}}_bioSampleGeographicLocation"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleGeographicLocation classSequenceRun inputSequenceRun{{pk}}BioSampleGeographicLocation w3-input w3-border "
																name="setBioSampleGeographicLocation"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleGeographicLocation classSequenceRun inputSequenceRun{{pk}}BioSampleGeographicLocation w3-input w3-border "
																name="setBioSampleGeographicLocation"
		{{else}}
																class="valueBioSampleGeographicLocation w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleGeographicLocation w3-input w3-border "
																name="bioSampleGeographicLocation"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleGeographicLocation', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleGeographicLocation')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleGeographicLocation')); }); "
	{{/eq}}
															value="{{BioSampleGeographicLocation}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleGeographicLocation ">{{htmBioSampleGeographicLocation}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleLatitudeLongitude"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleLatitudeLongitude">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleLatitudeLongitude">BioSample Latitude and Longitude</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleLatitudeLongitude"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleLatitudeLongitude')); $('#{{classApiMethodMethod}}_bioSampleLatitudeLongitude').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleLatitudeLongitude', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleLatitudeLongitude')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleLatitudeLongitude')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleLatitudeLongitude"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Latitude and Longitude"
															id="{{classApiMethodMethod}}_bioSampleLatitudeLongitude"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleLatitudeLongitude classSequenceRun inputSequenceRun{{pk}}BioSampleLatitudeLongitude w3-input w3-border "
																name="setBioSampleLatitudeLongitude"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleLatitudeLongitude classSequenceRun inputSequenceRun{{pk}}BioSampleLatitudeLongitude w3-input w3-border "
																name="setBioSampleLatitudeLongitude"
		{{else}}
																class="valueBioSampleLatitudeLongitude w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleLatitudeLongitude w3-input w3-border "
																name="bioSampleLatitudeLongitude"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleLatitudeLongitude', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleLatitudeLongitude')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleLatitudeLongitude')); }); "
	{{/eq}}
															value="{{BioSampleLatitudeLongitude}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleLatitudeLongitude ">{{htmBioSampleLatitudeLongitude}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleReferenceForBioMaterial"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleReferenceForBioMaterial">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleReferenceForBioMaterial">BioSample Reference for BioMaterial</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleReferenceForBioMaterial"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleReferenceForBioMaterial')); $('#{{classApiMethodMethod}}_bioSampleReferenceForBioMaterial').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleReferenceForBioMaterial', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleReferenceForBioMaterial')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleReferenceForBioMaterial')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleReferenceForBioMaterial"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Reference for BioMaterial"
															id="{{classApiMethodMethod}}_bioSampleReferenceForBioMaterial"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleReferenceForBioMaterial classSequenceRun inputSequenceRun{{pk}}BioSampleReferenceForBioMaterial w3-input w3-border "
																name="setBioSampleReferenceForBioMaterial"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleReferenceForBioMaterial classSequenceRun inputSequenceRun{{pk}}BioSampleReferenceForBioMaterial w3-input w3-border "
																name="setBioSampleReferenceForBioMaterial"
		{{else}}
																class="valueBioSampleReferenceForBioMaterial w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleReferenceForBioMaterial w3-input w3-border "
																name="bioSampleReferenceForBioMaterial"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleReferenceForBioMaterial', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleReferenceForBioMaterial')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleReferenceForBioMaterial')); }); "
	{{/eq}}
															value="{{BioSampleReferenceForBioMaterial}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleReferenceForBioMaterial ">{{htmBioSampleReferenceForBioMaterial}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleMaterialProcessing"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleMaterialProcessing">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleMaterialProcessing">BioSample Material Processing</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleMaterialProcessing"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleMaterialProcessing')); $('#{{classApiMethodMethod}}_bioSampleMaterialProcessing').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleMaterialProcessing', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleMaterialProcessing')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleMaterialProcessing')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleMaterialProcessing"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Material Processing"
															id="{{classApiMethodMethod}}_bioSampleMaterialProcessing"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleMaterialProcessing classSequenceRun inputSequenceRun{{pk}}BioSampleMaterialProcessing w3-input w3-border "
																name="setBioSampleMaterialProcessing"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleMaterialProcessing classSequenceRun inputSequenceRun{{pk}}BioSampleMaterialProcessing w3-input w3-border "
																name="setBioSampleMaterialProcessing"
		{{else}}
																class="valueBioSampleMaterialProcessing w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleMaterialProcessing w3-input w3-border "
																name="bioSampleMaterialProcessing"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleMaterialProcessing', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleMaterialProcessing')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleMaterialProcessing')); }); "
	{{/eq}}
															value="{{BioSampleMaterialProcessing}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleMaterialProcessing ">{{htmBioSampleMaterialProcessing}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleMaterialIdentifiers"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleMaterialIdentifiers">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleMaterialIdentifiers">BioSample Material Identifiers</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleMaterialIdentifiers"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleMaterialIdentifiers')); $('#{{classApiMethodMethod}}_bioSampleMaterialIdentifiers').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleMaterialIdentifiers', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleMaterialIdentifiers')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleMaterialIdentifiers')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleMaterialIdentifiers"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Material Identifiers"
															id="{{classApiMethodMethod}}_bioSampleMaterialIdentifiers"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleMaterialIdentifiers classSequenceRun inputSequenceRun{{pk}}BioSampleMaterialIdentifiers w3-input w3-border "
																name="setBioSampleMaterialIdentifiers"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleMaterialIdentifiers classSequenceRun inputSequenceRun{{pk}}BioSampleMaterialIdentifiers w3-input w3-border "
																name="setBioSampleMaterialIdentifiers"
		{{else}}
																class="valueBioSampleMaterialIdentifiers w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleMaterialIdentifiers w3-input w3-border "
																name="bioSampleMaterialIdentifiers"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleMaterialIdentifiers', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleMaterialIdentifiers')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleMaterialIdentifiers')); }); "
	{{/eq}}
															value="{{BioSampleMaterialIdentifiers}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleMaterialIdentifiers ">{{htmBioSampleMaterialIdentifiers}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleDisease"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleDisease">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleDisease">BioSample Disease</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleDisease"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleDisease')); $('#{{classApiMethodMethod}}_bioSampleDisease').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleDisease', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleDisease')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleDisease')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleDisease"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Disease"
															id="{{classApiMethodMethod}}_bioSampleDisease"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleDisease classSequenceRun inputSequenceRun{{pk}}BioSampleDisease w3-input w3-border "
																name="setBioSampleDisease"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleDisease classSequenceRun inputSequenceRun{{pk}}BioSampleDisease w3-input w3-border "
																name="setBioSampleDisease"
		{{else}}
																class="valueBioSampleDisease w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleDisease w3-input w3-border "
																name="bioSampleDisease"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleDisease', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleDisease')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleDisease')); }); "
	{{/eq}}
															value="{{BioSampleDisease}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleDisease ">{{htmBioSampleDisease}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleHostTissueSampled"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleHostTissueSampled">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleHostTissueSampled">BioSample Host Tissue Sampled</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleHostTissueSampled"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleHostTissueSampled')); $('#{{classApiMethodMethod}}_bioSampleHostTissueSampled').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleHostTissueSampled', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleHostTissueSampled')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleHostTissueSampled')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleHostTissueSampled"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Host Tissue Sampled"
															id="{{classApiMethodMethod}}_bioSampleHostTissueSampled"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleHostTissueSampled classSequenceRun inputSequenceRun{{pk}}BioSampleHostTissueSampled w3-input w3-border "
																name="setBioSampleHostTissueSampled"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleHostTissueSampled classSequenceRun inputSequenceRun{{pk}}BioSampleHostTissueSampled w3-input w3-border "
																name="setBioSampleHostTissueSampled"
		{{else}}
																class="valueBioSampleHostTissueSampled w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleHostTissueSampled w3-input w3-border "
																name="bioSampleHostTissueSampled"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleHostTissueSampled', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleHostTissueSampled')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleHostTissueSampled')); }); "
	{{/eq}}
															value="{{BioSampleHostTissueSampled}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleHostTissueSampled ">{{htmBioSampleHostTissueSampled}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmBioSampleCollectedBy"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunBioSampleCollectedBy">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_bioSampleCollectedBy">BioSample Collected By</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBioSampleCollectedBy"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_bioSampleCollectedBy')); $('#{{classApiMethodMethod}}_bioSampleCollectedBy').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setBioSampleCollectedBy', null, function() { addGlow($('#{{classApiMethodMethod}}_bioSampleCollectedBy')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleCollectedBy')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBioSampleCollectedBy"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="BioSample Collected By"
															id="{{classApiMethodMethod}}_bioSampleCollectedBy"
	{{#eq "Page" classApiMethodMethod}}
																class="setBioSampleCollectedBy classSequenceRun inputSequenceRun{{pk}}BioSampleCollectedBy w3-input w3-border "
																name="setBioSampleCollectedBy"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setBioSampleCollectedBy classSequenceRun inputSequenceRun{{pk}}BioSampleCollectedBy w3-input w3-border "
																name="setBioSampleCollectedBy"
		{{else}}
																class="valueBioSampleCollectedBy w3-input w3-border classSequenceRun inputSequenceRun{{pk}}BioSampleCollectedBy w3-input w3-border "
																name="bioSampleCollectedBy"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setBioSampleCollectedBy', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_bioSampleCollectedBy')); }, function() { addError($('#{{classApiMethodMethod}}_bioSampleCollectedBy')); }); "
	{{/eq}}
															value="{{BioSampleCollectedBy}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}BioSampleCollectedBy ">{{htmBioSampleCollectedBy}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmTaxonomyId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunTaxonomyId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_taxonomyId">Taxonomy ID</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputTaxonomyId"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_taxonomyId')); $('#{{classApiMethodMethod}}_taxonomyId').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setTaxonomyId', null, function() { addGlow($('#{{classApiMethodMethod}}_taxonomyId')); }, function() { addError($('#{{classApiMethodMethod}}_taxonomyId')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputTaxonomyId"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="Taxonomy ID"
															id="{{classApiMethodMethod}}_taxonomyId"
	{{#eq "Page" classApiMethodMethod}}
																class="setTaxonomyId classSequenceRun inputSequenceRun{{pk}}TaxonomyId w3-input w3-border "
																name="setTaxonomyId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setTaxonomyId classSequenceRun inputSequenceRun{{pk}}TaxonomyId w3-input w3-border "
																name="setTaxonomyId"
		{{else}}
																class="valueTaxonomyId w3-input w3-border classSequenceRun inputSequenceRun{{pk}}TaxonomyId w3-input w3-border "
																name="taxonomyId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setTaxonomyId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_taxonomyId')); }, function() { addError($('#{{classApiMethodMethod}}_taxonomyId')); }); "
	{{/eq}}
															value="{{TaxonomyId}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}TaxonomyId ">{{htmTaxonomyId}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmTaxonomyName"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunTaxonomyName">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_taxonomyName">Taxonomy ID</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputTaxonomyName"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_taxonomyName')); $('#{{classApiMethodMethod}}_taxonomyName').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setTaxonomyName', null, function() { addGlow($('#{{classApiMethodMethod}}_taxonomyName')); }, function() { addError($('#{{classApiMethodMethod}}_taxonomyName')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputTaxonomyName"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="Taxonomy ID"
															id="{{classApiMethodMethod}}_taxonomyName"
	{{#eq "Page" classApiMethodMethod}}
																class="setTaxonomyName classSequenceRun inputSequenceRun{{pk}}TaxonomyName w3-input w3-border "
																name="setTaxonomyName"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setTaxonomyName classSequenceRun inputSequenceRun{{pk}}TaxonomyName w3-input w3-border "
																name="setTaxonomyName"
		{{else}}
																class="valueTaxonomyName w3-input w3-border classSequenceRun inputSequenceRun{{pk}}TaxonomyName w3-input w3-border "
																name="taxonomyName"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setTaxonomyName', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_taxonomyName')); }, function() { addError($('#{{classApiMethodMethod}}_taxonomyName')); }); "
	{{/eq}}
															value="{{TaxonomyName}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}TaxonomyName ">{{htmTaxonomyName}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmTaxonomyUniqueName"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunTaxonomyUniqueName">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_taxonomyUniqueName">Taxonomy Unique Name</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputTaxonomyUniqueName"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_taxonomyUniqueName')); $('#{{classApiMethodMethod}}_taxonomyUniqueName').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setTaxonomyUniqueName', null, function() { addGlow($('#{{classApiMethodMethod}}_taxonomyUniqueName')); }, function() { addError($('#{{classApiMethodMethod}}_taxonomyUniqueName')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputTaxonomyUniqueName"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="Taxonomy Unique Name"
															id="{{classApiMethodMethod}}_taxonomyUniqueName"
	{{#eq "Page" classApiMethodMethod}}
																class="setTaxonomyUniqueName classSequenceRun inputSequenceRun{{pk}}TaxonomyUniqueName w3-input w3-border "
																name="setTaxonomyUniqueName"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setTaxonomyUniqueName classSequenceRun inputSequenceRun{{pk}}TaxonomyUniqueName w3-input w3-border "
																name="setTaxonomyUniqueName"
		{{else}}
																class="valueTaxonomyUniqueName w3-input w3-border classSequenceRun inputSequenceRun{{pk}}TaxonomyUniqueName w3-input w3-border "
																name="taxonomyUniqueName"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setTaxonomyUniqueName', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_taxonomyUniqueName')); }, function() { addError($('#{{classApiMethodMethod}}_taxonomyUniqueName')); }); "
	{{/eq}}
															value="{{TaxonomyUniqueName}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}TaxonomyUniqueName ">{{htmTaxonomyUniqueName}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmTaxonomyNameClass"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SequenceRunTaxonomyNameClass">
											<div class="w3-card ">
												<div class="w3-cell-row w3-pale-green">
													<label for="{{classApiMethodMethod}}_taxonomyNameClass">Taxonomy Name Class</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputTaxonomyNameClass"}}
													</div>
	{{#ifContainsAnyRoles roles ROLES}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_taxonomyNameClass')); $('#{{classApiMethodMethod}}_taxonomyNameClass').val(null); patchSequenceRunVal([{ name: 'fq', value: 'pk:' + $('#SequenceRunForm :input[name=pk]').val() }], 'setTaxonomyNameClass', null, function() { addGlow($('#{{classApiMethodMethod}}_taxonomyNameClass')); }, function() { addError($('#{{classApiMethodMethod}}_taxonomyNameClass')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputTaxonomyNameClass"}}
		{{#ifContainsAnyRoles roles ROLES}}
														<input
															type="text"
															placeholder="Taxonomy Name Class"
															id="{{classApiMethodMethod}}_taxonomyNameClass"
	{{#eq "Page" classApiMethodMethod}}
																class="setTaxonomyNameClass classSequenceRun inputSequenceRun{{pk}}TaxonomyNameClass w3-input w3-border "
																name="setTaxonomyNameClass"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setTaxonomyNameClass classSequenceRun inputSequenceRun{{pk}}TaxonomyNameClass w3-input w3-border "
																name="setTaxonomyNameClass"
		{{else}}
																class="valueTaxonomyNameClass w3-input w3-border classSequenceRun inputSequenceRun{{pk}}TaxonomyNameClass w3-input w3-border "
																name="taxonomyNameClass"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patchSequenceRunVal([{ name: 'fq', value: 'pk:{{pk}}' }], 'setTaxonomyNameClass', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_taxonomyNameClass')); }, function() { addError($('#{{classApiMethodMethod}}_taxonomyNameClass')); }); "
	{{/eq}}
															value="{{TaxonomyNameClass}}"
														/>

													{{else}}
															<span class="varSequenceRun{{pk}}TaxonomyNameClass ">{{htmTaxonomyNameClass}}</span>
		{{/ifContainsAnyRoles}}
{{/inline}}
